@font-face {
  font-family: "GeosansLight";
  src: url('images/GeosansLight.ttf') format("truetype");
}
html{
	height: 100%;
}

body{
	font-family: GeosansLight;
	background-repeat: no-repeat;
	overflow-y: scroll;
	background: lightblue;
    background: -webkit-linear-gradient(lightblue, white) fixed;
    background:    -moz-linear-gradient(lightblue, white) fixed;
    background:     -ms-linear-gradient(lightblue, white) fixed;
    background:      -o-linear-gradient(lightblue, white) fixed;
    background:         linear-gradient(lightblue, white) fixed;
}

.content {
	float: right;
	width: 80%;
	height:100%;
	background-color: white;
	padding: 10px;
	margin-right:0px;
	min-height:500px;
}


.divEntite {
	background-color: #FFFCAA;
	margin-bottom:15px;
	box-shadow:0px 0px 4px #D0C050;
	padding-left: 4px;
}

.divNouveau {
	background-color: #AFB;
	margin-bottom: 15px;
	padding-top: 1px;
	background-image: url('images/ajouter.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border-radius: 6px;
}

.divNouveau h3{
	color:darkgreen;
	margin-left:45px;
}

.divFiltre{
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#CCFFDD;
}


#headerAdmin{
	width:98%;
	margin:auto;
	color:gray;
	font-size:12px;
	margin-top:-5px;
	text-align:right;
}

#headerAdmin a{
	color:darkblue;
	text-decoration:none;
	font-size:12px;
	margin-left:30px;
}

#erreur{
	color:red;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
	background-color:pink;
	background-image: url('images/erreur.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba( 70, 0, 0, 0.8),
				0 -1px 0 rgba( 255, 170, 170, 0.7);
	padding: 9px 0px 9px 45px;
}

#correct{
	color:darkgreen;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
	background-color:lightgreen;
	background-image: url('images/correct.png');
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba( 0, 70, 0, 0.8),
				0 -1px 0 rgba( 170, 255, 170, 0.7);
	padding:9px 0px 9px 45px;
}

table {
 border-width:1px; 
 border-style:solid; 
 border-color:black;
 border-collapse:collapse;
 width:90%;
 margin: auto;
 }

/* ------ TITRES ------ */

h1 {
    margin-top:1px;
	margin-bottom: 10px;
	font-size:3.2em;
	font-weight: 900;
    color : black;
    text-align:center;
	text-shadow: 0px 4px 4px rgba( 50, 30, 160, 0.7);	
}

h2 {
     border: 1px solid darkblue;
     background-color: #118;
     color : white;
     text-align:center;
     margin-top:0px;
     margin-bottom: 10px;
     width: 80%;
     margin: auto;
	 border-radius: 5px;
}


h3 {
    font-weight:bold;
    text-decoration:underline;
}

h4 {
    font-weight:bold;
    text-decoration:none;
	text-align:center;
}



/* ------- FORMULAIRES ------- */
.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.bouton:hover
{
    text-decoration:underline;
}
.texte
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
}
.texte:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}